<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        function updateContent() {
            // 클라이언트 측 JavaScript에서 서버로 요청을 보내고 응답을 처리
            $.ajax({
                type: 'GET',
                url: '/update_content',
                success: function(response) {
                    // 서버에서 받은 데이터를 사용하여 특정 부분 업데이트
                    $('#content').html(response);
                },
                error: function(error) {
                    console.log('Error:', error);
                }
            });
        }
    </script>
</head>
<body>


    <div id="content">
        {% block content %}{% endblock %}
    </div>


    <button onclick="updateContent()">Update Content</button>
</body>
</html>
